table,tr,td{
  border: 1px solid #928d8d;
  border-collapse: collapse;
}
td{
  width:61px;
  height:30px;
  text-align: center;
  background-color: #e7e7e7;
}
td:hover{
  cursor: pointer;
}
input{
  height:35px;
  width:253px;
  background: black;
  border: none;
  color: aqua;
  text-align: end;
}
input:focus{
  outline: none;
}
.container{
  width:fit-content;
  margin:30vh auto;
}
button{
  border: none;
  background-color: #e7e7e7;
}